<div class="registration-page">
  <div class="container registration-form">
    <div class="row justify-content-center">
      <h2 class="text-center m-4">Registration</h2>
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body p-4">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="disabled">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person" viewBox="0 0 16 16">
                    <path
                      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                  </svg>
                </span>
                <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name"
                  formControlName="fullName" autocomplete="disabled" required>
              </div>
              <div
                *ngIf="registrationForm.controls['fullName'].invalid && (registrationForm.controls['fullName'].dirty || registrationForm.controls['fullName'].touched)"
                class="alert alert-danger">

                <div *ngIf="registrationForm.hasError('required', 'fullName')">
                  Full Name Required
                </div>
                <div *ngIf="registrationForm.controls['fullName'].hasError('minlength')">
                  Minmum Length should be 3 character
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope" viewBox="0 0 16 16">
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                  </svg>
                </span>
                <input type="text" class="form-control" formControlName="email" autocomplete="disabled"
                  placeholder="Email" aria-label="Email">
              </div>
              <div
                *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
                class="alert alert-danger">

                <div *ngIf="registrationForm.hasError('required', 'email')">
                  Email Required
                </div>
                <div *ngIf="registrationForm.hasError('email', 'email')">
                  Please enter valid Email Id
                </div>
              </div>



              <div class="form-group row m-0 mb-3">
                <div class="w-25 input-group form-control col-lg-3 pr-2">
                  <ngx-flag-picker [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes" (changedCountryCode)="changeSelectedCountryCode($event)">
                  </ngx-flag-picker>
                </div>

                <div class="w-75 input-group pe-0">
                  <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone" viewBox="0 0 16 16">
                      <path
                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                  </span>
                  <input type="text" class="form-control" autocomplete="disabled" formControlName="phone"
                    placeholder="Phone" aria-label="Phone">
                </div>
              </div>


              <div
                *ngIf="registrationForm.controls['phone'].invalid && (registrationForm.controls['phone'].dirty || registrationForm.controls['phone'].touched)"
                class="alert alert-danger">

                <div *ngIf="registrationForm.hasError('required', 'phone')">
                  Phone Number is Required
                </div>
                <div *ngIf="registrationForm.hasError('pattern', 'phone')">
                  Please enter valid Phone Number
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                  </svg>
                </span>
                <input type="password" autocomplete="disabled" id='password' class="form-control"
                  formControlName="password" placeholder="Password" aria-label="password" autocomplete="disabled">
                <span class="input-group-text">
                  <i class="bi bi-eye-slash-fill" style="cursor: pointer;" id="passwordToggle"
                    (click)="showPassword()"></i>
                </span>
              </div>
              <div
                *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)"
                class="alert alert-danger">

                <div *ngIf="registrationForm.hasError('required', 'password')">
                  Password is Required
                </div>

              </div>
              <div *ngIf="submitted && registrationForm.controls['tos'].invalid" class="alert alert-danger">
                Check the tickbox to continue
              </div>
              <div class="form-check">
                <input autocomplete="disabled" class="form-check-input" type="checkbox" value="" formControlName="tos">
                <label class="form-check-label" for="flexCheckChecked">
                  I have read and agree to the <a href="#">Privacy policy</a> and <a href="#">terms of conditions</a>
                </label>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" type="submit">CREATE A ACCOUNT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>